// 5
@import "values";
// 2
.main {
    background-color: tan;
    // 3
    h1 {
        color: #ddd;
        // BONUS 1
        &:hover {
            @extend %style; 
            text-decoration: underline;
        }
    }

    // BONUS 3
    @include flex(space-between, center);
    h4 {
        display: none;
    }

    // 7
    h2 {
        background-color: $brown1
    }
    h3 {
        color: $brown1
    }
}

 // 8
 .minor {
     background-color: silver;
    h1 {
        // 9
        text-decoration: underline;
        margin-bottom: 25 * 4;
        // 12
        @extend %styles
    }
    h2 {
        // 10
        text-decoration: line-through;
        // 12
        @extend %style
    }
 }