// 11
@import "values";
// 2
.main {
    background-color: tan;
    // 3
    h1 {
        color: #ddd;
    }
    // 7
    h2 {
        background-color: $brown1
    }
    h3 {
        color: $brown1
    }
}

 // 8
 .minor {
     background-color: silver;
    h1 {
        // 9
        text-decoration: underline;
        // 12
        @extend %styles
    }
    h2 {
        // 10
        text-decoration: line-through;
        // 12
        @extend %styles
    }
 }

